<h3 class="mb-3">Purchase Orders</h3>
<div class="input-group w-25 mb-3">
  <input
    type="text"
    class="form-control"
    placeholder="Search"
    [(ngModel)]="searchKeyWord"
    (ngModelChange)="this.onSearchKeyWordChange.next($event)"
  />
  <button class="btn btn-secondary" type="button">
    <i class="fa fa-search"></i>
  </button>
</div>
<div class="table-responsive">
  <table class="table table-hover  text-center">
    <thead class="bg-secondary">
      <tr>
        <th scope="col">S No</th>
        <th scope="col">PO No</th>
        <th scope="col">PO Date</th>
        <th scope="col">
          Status:
          <select [(ngModel)]="selectedPOStatus" (change)="onFilterPOStatus()">
            <option value="All">All</option>
            <option value="none">None</option>
            <option value="partial">Partial</option>
            <option value="completed">Completed</option>
          </select>
        </th>
        <th scope="col">Vendor Name</th>
        <th scope="col">PO days</th>
        <th scope="col">Order Year</th>

        <th scope="col">Target date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="!isLoading && poList.length">
      <tr class="bg-white" *ngFor="let po of poList; let i = index">
        <td>{{ i + serialNo }}</td>
        <td>{{ po.po_no }}</td>
        <td>{{ po.po_date | date : "short" }}</td>
        <td>{{ po.status }}</td>
        <td>{{ po.vendor_name }}</td>
        <td>{{ po.po_days }}</td>
        <td>{{ po.order_year }}</td>
        <td>{{ po.target_date | date : "short" }}</td>
        <td>
          <div class="d-flex gap-3 justify-content-center">
            <button
              class="btn-view opacity-75 rounded-circle px-2 py-1 text-white fw-bolder curser-pointer view-button"
              (click)="onView(po.id)"
            >
              <i class="bi bi-eye-fill"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<h5 class="text-center m-auto w-100" *ngIf="poList.length === 0">
  No data found
</h5>

<div class="d-flex justify-content-center mt-5">
  <div class="spinner-border" role="status" *ngIf="isLoading"></div>
</div>

<div class="d-flex" *ngIf="poList?.length">
  <app-pagination
    class="mx-auto my-3"
    [pagination]="pagination"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
</div>
