<nav class="navbar navbar-expand-md navbar-light bg-light w-100">
  <div class="container-fluid">
    <a
      class="navbar-brand"
      href="javascript:void(0)"
      routerLink="/purchase_orders"
      >Text Book Corporation</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mynavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            href="javascript:void(0)"
            routerLink="/purchase_orders"
            >Purchase Order</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" routerLink="/users"
            >Users</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" routerLink="/branches"
            >Branches</a
          >
        </li>
        <div class="d-md-none">
          <li class="nav-item">
            <a
              class="nav-link"
              href="javascript:void(0)"
              routerLink="/change_password"
              >Change Password</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" (click)="onSignOut()"
              >Sign Out</a
            >
          </li>
        </div>
      </ul>
      <div class="dropdown dropstart">
        <a
          id="profile-picture"
          href="#"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ userDetails?.name | slice : 0 : 1 }}
        </a>

        <ul
          class="dropdown-menu dropdown-menu-light"
          aria-labelledby="dropdownMenuButton"
        >
          <li>
            <a class="dropdown-item active" routerLink="/change_password"
              >Change Password</a
            >
          </li>
          <li><a class="dropdown-item" (click)="onSignOut()">Sign Out</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
