<ng-container>
  <c-container fluid>
    <c-header-brand class="d-none d-sm-block" routerLink="/"
      >Text Book Corporation</c-header-brand
    >
    <c-header-brand class="d-sm-none" routerLink="/">DRS</c-header-brand>
    <ul class="header-nav me-auto ms-5">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/users">Users</a>
      </li>
      <li class="nav-item ms-4">
        <a class="nav-link" routerLink="/branches">Branches</a>
      </li>
    </ul>
    <c-header-nav>
      <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
    </c-header-nav>
  </c-container>
</ng-container>

<ng-template #userDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button cButton color="" [caret]="false" cDropdownToggle class="py-0">
      <ngx-avatars
        [gravatarId]="userDetails?.email"
        [name]="userDetails?.name"
      ></ngx-avatars>
    </button>
    <ul cDropdownMenu class="pt-0 pr-5 w-auto">
      <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2">Account</h6>
      </li>
      <li>
        <a cDropdownItem (click)="onSignOut()" class="drop-down-item">
          <svg cIcon class="me-2" name="cilLockLocked"></svg>
          Sign out
        </a>
      </li>
    </ul>
  </c-dropdown>
</ng-template>
