<div class="d-flex justify-content-between mb-4">
  <h3>Branches</h3>
  <button
    cButton
    variant="outline"
    color="info"
    routerLink="/branches/add"
    title="Click to Add branch"
  >
    Add Branch
  </button>
</div>

<div class="table-responsive" *ngIf="!isLoading && branches?.length">
  <table class="table table-hover">
    <thead class="bg-secondary">
      <tr>
        <th scope="col" class="curser-pointer">
          S.No
          <i class="text-info bi"></i>
        </th>
        <th scope="col" class="curser-pointer">
          Name
          <i class="text-info bi"></i>
        </th>
        <th scope="col" class="curser-pointer">
          DL Type
          <i class="text-info bi"></i>
        </th>
        <!-- <th scope="col" class="curser-pointer">
          DistrictId
          <i class="text-info bi"></i>
        </th> -->
        <th scope="col" class="curser-pointer">
          District Name
          <i class="text-info bi"></i>
        </th>
        <!-- <th scope="col" class="curser-pointer">
          CreatedAt
          <i class="text-info bi"></i>
        </th>
        <th scope="col" class="curser-pointer">
          UpdatedAt
          <i class="text-info bi"></i>
        </th> -->
        <th scope="col" class="curser-pointer">
          Actions
          <i class="text-info bi"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white" *ngFor="let branch of branches; let i = index">
        <td>{{ serialNo + i }}</td>
        <td>{{ branch.name }}</td>
        <td>{{ branch.dl_type }}</td>
        <!-- <td>{{ branch.district_id }}</td> -->
        <td>{{ branch.district_name }}</td>
        <!-- <td>{{ branch.created_at }}</td>
        <td>{{ branch.updated_at }}</td> -->
        <td>
          <div class="d-flex gap-3">
            <div
              class="bg-edit opacity-75 rounded-circle px-2 py-1 text-white fw-bolder curser-pointer"
              title="Edit"
              (click)="onEdit(branch.id)"
            >
              <svg cIcon name="cilPencil" size="md"></svg>
            </div>
            <div
              class="bg-delete opacity-75 rounded-circle px-2 py-1 text-white fw-bolder curser-pointer"
              title="Delete"
              (click)="onDelete(branch)"
            >
              <svg cIcon name="cilTrash" size="md"></svg>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-center mt-5">
  <div class="spinner-border" role="status" *ngIf="isLoading"></div>
  <h5 class="text-center mt-5" *ngIf="!isLoading && !branches?.length">
    No list found
  </h5>
</div>

<div class="d-flex justify-content-around" *ngIf="branches?.length">
  <app-pagination
    class="mx-auto my-3"
    [pagination]="pagination"
    (pageChange)="onPageChange($event)"
  >
  </app-pagination>
</div>
