<div class="table-responsive">
    <table class="table table-hover" *ngFor="let material of materialList">
      <thead class="bg-secondary">
        <tr>
          <th scope="col">
             Title
            <i class="text-info bi"></i>
          </th>
          <th scope="col">
             Medium
            <i class="text-info bi"></i>
          </th>
          <th scope="col">
            Standard
           <i class="text-info bi"></i>
         </th>
          <th scope="col">
            Net Copies
           <i class="text-info bi"></i>
         </th>
          <th scope="col">
            Size<i class="text-info bi"></i>
          </th>
          <th scope="col">
            Mode of Printing<i class="text-info bi"></i>
          </th>
          <th scope="col">
            Type of Copies<i class="text-info bi"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white">
            <td>{{ material.title }}</td>
            <td>{{ material.medium }}</td>
            <td>{{ material.standard }}</td>
            <td>{{ material.net_copies }}</td>
            <td>{{ material.size }}</td>
            <td>{{ material.mode_of_printing }}</td>
            <td>{{ material.type_of_copies }}</td>
        </tr>
      </tbody>
    </table>
  </div>