<div class="d-flex justify-content-center align-items-center">
  <div
    class="card-one d-flex justify-content-center align-items-center col-12 col-md-8"
  >
    <c-spinner *ngIf="!fileDetails && !isDetailsError"></c-spinner>
    <div class="d-flex flex-column align-items-center" *ngIf="fileDetails">
      <img
        src="/assets/images/document-image.svg"
        alt="document-image"
        class="document-img mb-4"
      />
      <h2 class="mb-4 text-center">{{ fileDetails.name }}</h2>
      <div
        *ngIf="tagsList.length > 0"
        class="d-flex mb-4 flex-wrap w-75 justify-content-center"
      >
        <div
          class="tag p-1 ms-2 mb-2"
          *ngFor="let tag of tagsList"
          [style.background]="tag.color"
        >
          <p class="m-0 p-1">
            {{ tag.name }}
          </p>
        </div>
      </div>
      <div class="d-flex mb-4">
        <button
          class="edit-button d-flex justify-content-center align-items-center btn"
          type="button"
          (click)="onEdit()"
        >
          <img src="/assets/images/icons/edit.svg" alt="edit-icon" />
        </button>
        <button
          class="edit-button d-flex justify-content-center align-items-center ms-3 delete-button btn"
          type="button"
          (click)="onDelete()"
        >
          <img src="/assets/images/icons/delete.svg" alt="delete-icon" />
        </button>
      </div>
      <button
        class="btn download-btn mb-2"
        type="button"
        (click)="onDownload()"
      >
        Download
      </button>
      <h6 *ngIf="isDownloadError" class="text-danger">
        Oops.. Something went wrong
      </h6>
    </div>
    <h3 class="text-danger" *ngIf="isDetailsError">Cannot find file details</h3>
  </div>
</div>
