<div class="d-flex justify-content-center">
  <form
    [formGroup]="editBranchForm"
    (submit)="onFormSubmit()"
    class="mt-3"
    autocomplete="off"
  >
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <button
              class="btn btn-primary d-flex align-items-center"
              type="button"
              title="Back"
              [disabled]="isLoading"
              routerLink="/branches"
            >
              <span class="min-width-18px">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
              </span>
              <span class="text ml-1 ml-sm-o d-none d-sm-block">Back</span>
            </button>
          </div>
          <h2 class="text-center m-0">Edit Branch</h2>
          <div>
            <app-loading-button
              [disabled]="editBranchForm.invalid || editBranchForm.pristine"
              [buttonText]="'Edit Branch'"
              [title]="'Click to edit branch'"
              [isLoading]="isLoading"
              [loadingText]="'Adding branch..'"
              [buttonIconClass]="'fas fa-check'"
            ></app-loading-button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="alert alert-warning" *ngIf="hasValidationError">
          <p>Please fix the following</p>
          <ul>
            <li *ngFor="let validationError of validationErrors">
              {{ validationError }}
            </li>
          </ul>
        </div>
        <div class="row">
          <div class="form-group col-12 col-md-6">
            <label for="name"> Name <span class="text-danger">*</span></label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
              maxlength="100"
              placeholder="Enter Name"
            />
            <div
              *ngIf="
                formControls['name'].touched && formControls['name'].invalid
              "
            >
              <small
                class="text-danger"
                *ngIf="formControls['name'].errors?.['required']"
                >name is required</small
              >
              <small
                class="text-danger"
                *ngIf="formControls['name'].errors?.['minlength']"
                >Minimum length required is
                {{ formControls['name'].errors?.['minlength'].requiredLength }}</small
              >
              <small
                class="text-danger"
                *ngIf="formControls['name'].errors?.['maxlength']"
                >Maximum length is
                {{ formControls['name'].errors?.['maxlength'].requiredLength }}</small
              >
            </div>
          </div>
          <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
            <label for="address">
              Address <span class="text-danger">*</span></label
            >
            <input
              type="text"
              id="address"
              formControlName="address"
              class="form-control"
              maxlength="200"
              placeholder="Enter address"
            />
            <div
              *ngIf="
                formControls['address'].touched &&
                formControls['address'].invalid
              "
            >
              <small
                class="text-danger"
                *ngIf="formControls['address'].errors?.['required'] || formControls['address'].errors?.['pattern']"
                >address is required</small
              >
              <small
                class="text-danger"
                *ngIf="formControls['address'].errors?.['minlength']"
                >Minimum length required is
                {{ formControls['address'].errors?.['minlength'].requiredLength }}</small
              >
            </div>
          </div>
          <div class="form-group col-12 col-md-6 mt-2 mt-md-4">
            <label for="dl_type"
              >DL type <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="dl_type"
              placeholder="Enter DLtype"
              formControlName="dl_type"
            />
            <div
              *ngIf="
                formControls['dl_type'].touched &&
                formControls['dl_type'].invalid
              "
            >
              <small
                class="text-danger"
                *ngIf="formControls['dl_type'].errors?.['required'] || formControls['dl_type'].errors?.['pattern']"
                >DL type is required</small
              >
            </div>
          </div>
          <div class="form-group col-12 col-md-6 mt-2 mt-md-4">
            <label for="district_id"
              >District Name<span class="text-danger">*</span></label
            >
            <ng-select
              [items]="districtNamesList"
              [clearable]="false"
              [searchable]="true"
              bindValue="id"
              bindLabel="name"
              placeholder="Select District"
              formControlName="district_id"
              notFoundText="No branches found"
            >
            </ng-select>
            <div
              *ngIf="
                formControls['district_id'].touched &&
                formControls['district_id'].invalid
              "
            >
              <small
                class="text-danger"
                *ngIf="formControls['district_id'].errors?.['required']"
                >DistrictId is required</small
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
