<div class="mb-4">
  <button cButton variant="outline" color="info" routerLink="/upload">
    Upload PO
  </button>
</div>

<!-- <h5 class="my-3">Our Drive Files</h5>
<form (ngSubmit)="onSearchSubmit()">
  <div class="d-flex flex-column flex-sm-row gap-2">
    <c-input-group class="mb-sm-3 input-search flex-nowrap">
      <span cInputGroupText id="search" class="bg-white ps-4 search"
        ><svg cIcon name="cilSearch"></svg
      ></span>
      <ng-select
        class="w-100 search"
        bindValue="id"
        bindLabel="name"
        [items]="suggestedFiles"
        [searchFn]="searchFn"
        (search)="onSearch($event)"
        (change)="onSearchSuggestionChange($event)"
      >
        <ng-template
          ng-option-tmp
          let-item="item"
          let-index="index"
          let-search="searchTerm"
        >
          <div class="d-flex align-items-stretch">
            <div class="d-flex align-items-center px-2">
              <i class="bi fs-3" [class]="getFileTypeIconClass(item)"></i>
            </div>
            <div class="w-100">
              <p class="mb-0">
                <b>{{ item.name }}</b>
              </p>
              <div class="d-flex justify-content-between">
                <small>{{ item.author }}</small
                ><small>{{ item.updated_at | date : "short" }}</small>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-select>
    </c-input-group>
    <div class="select-search-type">
      <select
        cSelect
        aria-label="search type"
        [(ngModel)]="searchType"
        name="search-type"
        (change)="onSearchTypeChange()"
      >
        <option
          *ngFor="let searchType of searchTypes | keyvalue"
          [value]="searchType.value"
        >
          {{ searchType.value | titlecase }}
        </option>
      </select>
    </div>
    <div class="search-button mb-3 mb-sm-0 text-center">
      <button
        cButton
        color="info"
        variant="outline"
        type="submit"
        [disabled]="!searchValue"
      >
        Search Now
      </button>
    </div>
  </div>
</form> -->

<h6 class="mb-3">PO List</h6>

<div *ngIf="searchString">
  <b
    >Search Results for "<i>{{ searchString }}</i
    >"</b
  >
  <button cButton color="link" (click)="onClearSearch()">Clear</button>
</div>

<div class="table-responsive" *ngIf="files?.length; else noData">
  <table class="table table-hover">
    <thead>
      <tr>
        <th
          scope="col"
          class="curser-pointer"
          (click)="onSortChange(fileListSortColumns.name)"
        >
          Name
          <i
            class="text-info bi"
            [ngClass]="orderClassExpression"
            *ngIf="sortedColumn === fileListSortColumns.name"
          ></i>
        </th>
        <th scope="col">Tags</th>
        <th
          scope="col"
          class="curser-pointer"
          (click)="onSortChange(fileListSortColumns.author)"
        >
          Created by<i
            class="text-info bi"
            [ngClass]="orderClassExpression"
            *ngIf="sortedColumn === fileListSortColumns.author"
          ></i>
        </th>
        <th
          scope="col"
          class="curser-pointer"
          (click)="onSortChange(fileListSortColumns.updatedAt)"
        >
          Modified on<i
            class="text-info bi"
            [ngClass]="orderClassExpression"
            *ngIf="sortedColumn === fileListSortColumns.updatedAt"
          ></i>
        </th>
        <th
          scope="col"
          class="curser-pointer"
          (click)="onSortChange(fileListSortColumns.createdAt)"
        >
          Created on<i
            class="text-info bi"
            [ngClass]="orderClassExpression"
            *ngIf="sortedColumn === fileListSortColumns.createdAt"
          ></i>
        </th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white" *ngFor="let file of files">
        <th [cTooltip]="file.name">{{ file.name | truncate }}</th>
        <td>
          <div class="d-flex gap-2">
            <ng-container *ngFor="let tag of file.tags; index as tagIndex">
              <div
                class="rounded-pill px-2"
                [style.background-color]="backRoundColors[tagIndex]"
                [style.color]="textColors[tagIndex]"
                *ngIf="tagIndex < 3"
              >
                {{ tag }}
              </div>
            </ng-container>
            <div
              class="bg-light rounded-pill px-2"
              *ngIf="file.tags.length > 3"
            >
              +{{ file.tags.length - 3 }}
            </div>
          </div>
        </td>
        <td>{{ file.author }}</td>
        <td>{{ file.updated_at | date : "short" }}</td>
        <td>{{ file.created_at | date : "short" }}</td>
        <td>
          <div class="d-flex gap-3">
            <div
              class="btn-view opacity-75 rounded-circle px-2 py-1 text-white fw-bolder curser-pointer"
              (click)="onView(file.id)"
            >
              <i class="bi bi-eye-fill"></i>
            </div>
            <div
              class="bg-edit opacity-75 rounded-circle px-2 py-1 text-white fw-bolder curser-pointer"
              (click)="onEdit(file.id)"
            >
              <svg cIcon name="cilPencil" size="md" title="Edit Icon"></svg>
            </div>
            <div
              class="bg-delete opacity-75 rounded-circle px-2 py-1 text-white fw-bolder curser-pointer"
              (click)="onDelete(file)"
            >
              <svg cIcon name="cilTrash" size="md" title="Delete Icon"></svg>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noData>
  <div class="text-center py-sm-5">
    <div *ngIf="searchString; else noDataDiv">
      <i class="bi bi-search text-info fs-1"></i>
      <h4>No matching results</h4>
      <p>
        Try another search or
        <button cButton color="link" class="px-0" (click)="onClearSearch()">
          clear the current search
        </button>
      </p>
    </div>
    <ng-template #noDataDiv>
      <i class="bi bi-file-earmark-fill text-info fs-1"></i>
      <h4>No files to show</h4>
      <p>Upload a new file</p>
    </ng-template>
  </div>
</ng-template>

<div class="d-flex" *ngIf="files?.length">
  <app-pagination
    class="mx-auto my-3"
    [pagination]="pagination"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
</div>
