<c-container
  fluid
  class="d-flex justify-content-between flex-column flex-md-row text-center"
>
  <div>&copy; Copyright 2023 Yavar Tech Works. All rights reserved.</div>
  <div
    class="d-flex flex-column flex-sm-row gap-sm-3 justify-content-center justify-content-md-around"
  >
    <a href="https://yavar.in/terms-of-services/" target="_blank">
      Terms and conditions
    </a>
    <a href="https://yavar.in/privacy-and-policy/" target="_blank">
      Privacy and policy
    </a>
  </div>
</c-container>
