<div class="card-cont d-flex justify-content-center align-items-center">
  <div class="card col-12 col-sm-10 col-md-8 col-lg-6 p-3 mt-5">
    <h3 class="text-center">Change Password</h3>
    <div class="alert alert-warning mt-1" *ngIf="hasValidationError">
      <p>Please fix the following</p>
      <ul>
        <li *ngFor="let validationError of validationErrors">
          {{ validationError }}
        </li>
      </ul>
    </div>
    <div class="car">
      <div class="card-body">
        <form
          [formGroup]="changePwdForm"
          (submit)="onChangePwd()"
          autocomplete="off"
        >
          <div class="form-group">
            <label for="currentPassword">Current Password</label>
            <div class="input-group mt-2">
              <span class="input-group-text"><i class="fa fa-lock"></i></span>
              <input
                [type]="isShowCurrentPassword ? 'text' : 'password'"
                class="form-control"
                id="currentPassword"
                placeholder="Enter Current Password"
                formControlName="currentPassword"
                autocomplete="current-password"
              />
              <span
                class="input-group-text"
                (click)="changeCurrentPasswordInput()"
                aria-hidden="true"
                data-toggle="tooltip"
                [title]="
                  isShowCurrentPassword ? 'Show password' : 'Hide Password'
                "
                ><i
                  [ngClass]="
                    isShowCurrentPassword ? 'fa fa-eye' : 'fa fa-eye-slash'
                  "
                ></i
              ></span>
            </div>
            <div
              *ngIf="
                formControls['currentPassword'].touched &&
                formControls['currentPassword'].invalid
              "
            >
              <small
                class="text-danger"
                *ngIf="formControls['currentPassword'].errors?.['required']"
                >Current password is required</small
              >
            </div>
          </div>
          <div class="form-group mt-3">
            <label for="newPassword">New Password</label>
            <div class="input-group mt-2">
              <span class="input-group-text"><i class="fa fa-lock"></i></span>
              <input
                [type]="isShowNewPassword ? 'text' : 'password'"
                class="form-control"
                id="newPassword"
                placeholder="Enter New Password"
                formControlName="newPassword"
                autocomplete="new-password"
              />
              <span
                class="input-group-text"
                (click)="changeNewPasswordInput()"
                aria-hidden="true"
                data-toggle="tooltip"
                [title]="
                  isShowCurrentPassword ? 'Show password' : 'Hide Password'
                "
                ><i
                  [ngClass]="
                    isShowCurrentPassword ? 'fa fa-eye' : 'fa fa-eye-slash'
                  "
                ></i
              ></span>
            </div>
            <div
              *ngIf="
                formControls['newPassword'].touched &&
                formControls['newPassword'].invalid
              "
            >
              <small
                class="text-danger"
                *ngIf="formControls['newPassword'].errors?.['required']"
                >New password is required</small
              >
              <small
                class="text-danger"
                *ngIf="formControls['newPassword'].errors?.['password']; else characterLengthCheck"
              >
                {{ formControls['newPassword'].errors?.['password'].errorMessage }}</small
              >
              <ng-template #characterLengthCheck>
                <small
                  class="text-danger"
                  *ngIf="formControls['newPassword'].errors?.['minlength']"
                  >New password must be 6 characters long</small
                >
              </ng-template>
              <ng-template #passwordError>
                <div *ngIf="formControls['newPassword'].errors?.['password']">
                  <small class="text-danger"
                    >New
                    {{
                            formControls['newPassword'].errors?.['password']?.errorMessage
                              | lowercase
                    }}</small
                  >
                </div>
              </ng-template>
            </div>
            <small
              class="text-danger"
              *ngIf="
                      formControls['newPassword'].valid &&
                      formControls['newPassword'].value &&
                      changePwdForm.errors?.['changePassword']
                    "
              >Current password and new password should not be same.</small
            >
          </div>
          <div class="form-group mt-3">
            <label for="confirmPassword">Confirm Password</label>

            <div class="input-group mt-2">
              <span class="input-group-text"><i class="fa fa-lock"></i></span>
              <input
                [type]="isShowConfirmPassword ? 'text' : 'password'"
                class="form-control"
                id="confirmPassword"
                placeholder="Enter Confirm Password"
                formControlName="confirmPassword"
                autocomplete="new-password"
              />
              <span
                class="input-group-text"
                (click)="changeConfirmPasswordInput()"
                aria-hidden="true"
                data-toggle="tooltip"
                [title]="
                  isShowCurrentPassword ? 'Show password' : 'Hide Password'
                "
                ><i
                  [ngClass]="
                    isShowCurrentPassword ? 'fa fa-eye' : 'fa fa-eye-slash'
                  "
                ></i
              ></span>
            </div>
            <div
              *ngIf="
                formControls['confirmPassword'].touched &&
                formControls['confirmPassword'].invalid
              "
            >
              <small
                class="text-danger"
                *ngIf="formControls['confirmPassword'].errors?.['required']"
                >Confirm password is required</small
              >
            </div>
            <small
              class="text-danger"
              *ngIf="
                      formControls['confirmPassword'].value &&
                      changePwdForm.errors?.['mismatch']
                    "
              >New password and confirm password must match.</small
            >
          </div>
          <div class="form-group d-flex">
            <div class="d-flex float-right">
              <app-loading-button
                class="mb-3 mt-3"
                [disabled]="changePwdForm.invalid"
                [isLoading]="isLoading"
                [title]="'Click to change password'"
                [buttonText]="'Change'"
                [loadingText]="'Updating...'"
                [buttonIconClass]="'fas fa-check'"
              >
              </app-loading-button>
            </div>
            <button
              class="ms-auto btn btn-primary align-self-center"
              (click)="onBack()"
              title="Click to go back"
            >
              Back
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
