<div class="d-flex justify-content-center align-items-center">
  <div
    class="card-one d-flex flex-column justify-content-center align-items-center col-12 col-md-8"
  >
    <c-spinner *ngIf="!fileDetails && !isError"></c-spinner>
    <div class="col-11 col-lg-7" *ngIf="fileDetails">
      <label for="fileName" class="mb-2">File Name</label>
      <input
        type="text"
        [(ngModel)]="updatedFileName"
        class="w-100 mb-4 form-control"
        placeholder="Enter file name"
        id="fileName"
      />
      <label for="tags" class="mb-2">Tags</label>
      <app-tag
        [selectedTags]="selectedTags"
        (tagChange)="tagChange($event)"
      ></app-tag>
      <div class="d-flex justify-content-between mt-5">
        <button
          cButton
          color="danger"
          (click)="onBack()"
          variant="outline"
          class="col-5"
        >
          cancel
        </button>
        <button
          cButton
          color="primary"
          variant="outline"
          (click)="updateFile()"
          [disabled]="updatedFileName.length < 1"
          class="col-5"
        >
          Update
          <c-spinner color="info" size="sm" *ngIf="isUpdating"></c-spinner>
        </button>
      </div>
    </div>
    <h3 class="text-danger" *ngIf="isError">Cannot find file details</h3>
  </div>
</div>
