/* You can add global styles to this file, and also import other style files */
// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";

@import "layout";

// If you want to add something do it here
@import "custom";

@import "~@ng-select/ng-select/themes/default.theme.css";

@import "node_modules/bootstrap-icons/font/bootstrap-icons.css";

@import "ngx-toastr/toastr";

table {
  display: table;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}
