<div class="d-flex flex-column flex-md-row vh-100 login-cont">
  <div class="align-self-center p-2 p-sm-5 form-cont">
    <h1 class="fw-bold">Text Book Corporation</h1>
    <h3 class="mt-5">Sign in</h3>
    <form class="mt-4 w-75" [formGroup]="loginForm" (submit)="login()">
      <div class="mb-2">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="example@example.com"
          autocomplete="username"
        />
      </div>
      <div *ngIf="formControls['email'].touched">
        <small
          class="text-danger"
          *ngIf="formControls['email'].errors?.['required']"
          >Email is required</small
        >
        <small
          class="text-danger"
          *ngIf="formControls['email'].errors?.['pattern']"
          >Enter a valid email</small
        >
      </div>
      <div class="mb-2 mt-4">
        <label for="password" class="form-label">Password</label>
        <div class="d-flex">
          <input
            [type]="isShowPassword ? 'password' : 'text'"
            class="form-control input-border-radius"
            id="password"
            formControlName="password"
            placeholder="Password"
            autocomplete="current-password"
          />
          <div class="input-group-append password-icon">
            <i
              class="input-group-text fa h-100 d-flex justify-content-center align-items-center icon-border-radius"
              [ngClass]="isShowPassword ? 'fa-eye-slash' : 'fa-eye'"
              (click)="passwordIconToggle()"
              aria-hidden="true"
              data-toggle="tooltip"
              [title]="isShowPassword ? 'Show password' : 'Hide password'"
            ></i>
          </div>
        </div>
      </div>
      <div
        *ngIf="
          formControls['password'].touched && formControls['password'].invalid
        "
      >
        <small
          class="text-danger"
          *ngIf="formControls['password'].errors?.['required']"
          >Password is required</small
        >
      </div>
      <div *ngIf="errors">
        <ul class="alert-message-list">
          <li *ngFor="let error of errors" class="text-danger">
            {{ error }}
          </li>
        </ul>
      </div>
      <div class="mt-4 d-flex justify-content-between align-items-center">
        <button
          cButton
          color="primary"
          type="submit"
          class="col-7 col-lg-5"
          [disabled]="loginForm.invalid || isLoading"
        >
          <span *ngIf="!isLoading">Sign in</span>
          <span *ngIf="isLoading">Signing in</span>
          <c-spinner color="info" size="sm" *ngIf="isLoading"></c-spinner>
        </button>
        <a class="align-self-center" routerLink="/forgot_password"
          >Forgot Password?</a
        >
      </div>
    </form>
  </div>
  <div
    class="carousel-cont d-flex flex-column justify-content-center align-items-center"
  >
    <img
      src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
      alt="login-img"
      class="w-75"
    />
    <!-- <div class="d-flex flex-column align-items-center mt-5">
      <h2>Secure & Save your files</h2>
      <ul class="mt-3">
        <li>Secure & Save your files</li>
        <li>Unlimited uploads</li>
        <li>Unlimited storage</li>
        <li>Advanced tag search</li>
      </ul>
    </div> -->
  </div>
</div>
